---
import Layout from '../../../layouts/Layout.astro';
import Header from '../../../components/sections/Header.astro';
import PortfolioGrid from '../../../components/sections/PortfolioGrid.astro';
import DesignerBanner from '../../../components/sections/DesignerBanner.astro';
import Footer from '../../../components/sections/Footer.astro';
import esData from '../../../i18n/es.json';
---

<Layout title="Proyectos">
  <Header navData={esData.nav} />
  <main style="padding-top: 100px;"> 
    <PortfolioGrid data={esData.portfolio} />
    <DesignerBanner data={esData.designerBanner} />
  </main>
  <Footer data={esData.footer} />
</Layout>